/* dots by wurst1337 (https://github.com/wurst1337/dots-hyprland) */
/* (sorry for many shit here, I will remove in future) */

@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    /* background: linear-gradient(rgb(20, 20, 20), rgb(34, 34, 34));  */
    /* border-bottom: 2px solid rgb(25, 25, 25);  */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 15px;
    margin: 15px;
    /* background-color: rgba(27, 27, 27, 0.5);  */
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces {
    background: #1e1e1e;
    min-width: 32px;
    border-radius: 5px;
}

#workspaces button {
    background: #454545;
    color: #e0e0e0;
    /* border: 2px solid transparent; */
    min-width: 16px;
    border-radius: 5px;
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(45deg, rgb(55, 55, 55), rgb(131, 131, 131));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 0 8px;
    margin: 3px;
    transition: all, 0.5s ease;
}

#workspaces button.focused, #workspaces button.active {
    min-width: 8px;
    background-image: 
        linear-gradient(@color7, @color6),
        linear-gradient(@color7, @color6);
    color: #1e1e1e;
    border-radius: 35%;
    /* box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.82); */
}

#custom-launcher {
    margin-left: 15px;
    margin-right: 5px;
}

#language, #tray, #clock, #mpris, #pulseaudio, #network {
    background: #454545;
    color: #e0e0e0;
    min-width: 32px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(45deg, rgb(55, 55, 55), rgb(131, 131, 131));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 0 8px;
    margin: 3px;
    transition: all, 0.65s ease;
}

#language:hover, #tray:hover, #clock:hover, #mpris:hover, #pulseaudio:hover, #network:hover {
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(90deg, @color7, @color1);
}

#mpris.paused {
    color: rgb(210, 210, 210);
    background-image: 
        linear-gradient(@color7, @color1),
        linear-gradient(90deg, @color9, @color3);
}

#network.disconnected {
    color: #e0e0e0;
    background-image: 
        linear-gradient(#9e3b3b, #ec4a4a),
        linear-gradient(45deg, rgb(240, 239, 239), rgb(240, 194, 194));
}