/* dots by wurst1337 (https://github.com/wurst1337/dots-hyprland) */

/* Import styles */
@import "colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
}

window#waybar {
    /* background: linear-gradient(rgb(20, 20, 20), rgb(34, 34, 34));  */
    border-bottom: 2px solid rgb(25, 25, 25); 
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 15px;
    margin: 15px;
    /* background-color: rgba(27, 27, 27, 0.5);  */
    background-color: rgba(27, 27, 27, 1); 
}



window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}



#workspaces {
    background: #1e1e1e;
    min-width: 32px;
    border-radius: 5px;
}

#workspaces button {
    background: #454545;
    color: #e0e0e0;
    /* border: 2px solid transparent; */
    min-width: 6px;
    border-radius: 40%;
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(45deg, rgb(55, 55, 55), rgb(131, 131, 131));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 0 8px;
    margin: 3px;
    transition: all, 0.5s ease;
}

#workspaces button.focused, #workspaces button.active {
    min-width: 16px;
    background-image: 
        linear-gradient(@color13, @color1),
        linear-gradient(@color13, @color1);
    color: #1e1e1e;
    border-radius: 35%;
    padding: 0 5px;
    /* box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.82); */
}

#group-hardware {
    background: #9a9a9a;
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
}

#clock {
    background: #1d1d1d;
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
}

#cpu, #memory, #temperature {
    background-color: transparent; 
}

#custom-launcher {
    margin-left: 15px;
    margin-right: 5px;
}

#custom-tray-icon {
    transition: all 0.15s ease-in;
}

#custom-tray-icon:hover {
    color: @color5;
}

#mpris {
    background: #454545;
    color: #e0e0e0;
    min-width: 6px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(45deg, rgb(55, 55, 55), rgb(131, 131, 131));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 0 8px;
    margin: 3px;
    transition: all, 0.65s ease;
}

#language:hover, #mpris:hover, #custom-logout:hover {
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(90deg, @color5, @color12);
}

#custom-logout {
    background: #454545;
    color: #e0e0e0;
    min-width: 3px;
    border-radius: 50%;
    border: none;
    background-image: 
        linear-gradient(#1e1e1e, #1e1e1e),
        linear-gradient(45deg, rgb(55, 55, 55), rgb(131, 131, 131));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 0 5px;
    margin: 3px;
    transition: all, 0.65s ease;
    margin-right: 5px;
}

#custom-logout:hover {
    color: white;
    background-image: 
        linear-gradient(@color5, @color12),
        linear-gradient(90deg, @color5, @color12);
    
}

#mpris.paused {
    color: @color0;
    background-image: 
        linear-gradient(@cursor, @cursor),
        linear-gradient(90deg, @color12, @color8);
}

#network.disconnected {
    color: #e0e0e0;
    background-image: 
        linear-gradient(#9e3b3b, #ec4a4a),
        linear-gradient(45deg, rgb(240, 239, 239), rgb(240, 194, 194));
}