@theme "~/.config/rofi/theme.rasi"

configuration {
font: "JetBrainsMono Nerd Font 16";
show-icons: true;
icon-theme: "Papirus";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}


window {
    transparency: "real";
}

element {
    padding: 10px;
    cursor:  pointer;
}
